{% extends 'layout.html' %}

{% block content %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>My Table</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<div class="container scroll-con">
  <div class="form-group card p-3 card-cas">
    <div class="text-center">
    <b><h3>ข้อมูลผู้โดยสารเดินทางเข้าจังหวัดสงขลา</h3>
    <p>Songkhla Arrivals Dashboard</p></b><br> 
    
    <input type="button" value="กลับสู่หน้าหลัก" class="btn btn-outline-info btn-lg btn-block" onclick="window.location='/index'">
    <br> 
    <div class="row">
      <div class="col-xl-3 col-md-6">
          <div class="card bg-success text-white mb-4">
              <div class="card-body">เดินทางโดยเครื่องบิน</div>
              ทั้งหมด 250,488 คน
              <br>
              <div class="card-footer d-flex align-items-center justify-content-between">
                  <a class="small text-white stretched-link" href="#">View Details</a>
                  <div class="small text-white"><i class="fas fa-angle-right"></i></div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-md-6">
          <div class="card bg-warning text-white mb-4">
              <div class="card-body">เดินทางโดยรถไฟ (ทั้งหมด)</div>
              ทั้งหมด 45,488 คน
              <br>
              <div class="card-footer d-flex align-items-center justify-content-between">
                  <a class="small text-white stretched-link" href="#">View Details</a>
                  <div class="small text-white"><i class="fas fa-angle-right"></i></div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-md-6">
          <div class="card bg-primary  text-white mb-4">
              <div class="card-body">เดินทางโดยรถสาธารณะ</div>
              ทั้งหมด 40,488 คน
              <br>
              <div class="card-footer d-flex align-items-center justify-content-between">
                  <a class="small text-white stretched-link" href="#">View Details</a>
                  <div class="small text-white"><i class="fas fa-angle-right"></i></div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-md-6">
          <div class="card bg-danger text-white mb-4">
              <div class="card-body">เดินทางโดยเรือ</div>
              ทั้งหมด 1,032 คน
              <br>
              <div class="card-footer d-flex align-items-center justify-content-between">
                  <a class="small text-white stretched-link" href="#">View Details</a>
                  <div class="small text-white"><i class="fas fa-angle-right"></i></div>
              </div>
          </div>
      </div>
    </div>
  <div class="row">
      <div class="col-xl-6">
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-chart-area me-1"></i>
                  จำนวนผู้โดยสาร
              </div>
              <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
          </div>
      </div>
      <div class="col-xl-6">
          <div class="card mb-4">
              <div class="card-header">
                  <i class="fas fa-chart-bar me-1"></i>
                  จำนวนผู้ลงทะเบียน
              </div>
              <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
          </div>
      </div>
  </div>

    <table id="myTable" class="display" style="width: 100%;">
        <thead>
            <tr>
              <th>ลำดับ</th>
              <th>ชื่อ-สกุล</th>
              <th>มาจากอำเภอ</th>
              <th>มาจากจังหวัด</th>
              <th>เดินทางไปอำเภอ</th>
              <th>เดินทางไปจังหวัด</th>
              <th>เบอร์โทร</th>
              <th>วันที่ลงทะเบียน</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>1</td>
              <td>นายมงคล ขวัญงาม</td>
              <td>เขตบางพลัด /Khet Bang Phlat</td>
              <td>กรุงเทพมหานคร /Bangkok</td>
              <td>หาดใหญ่ /Hat Yai</td>
              <td>สงขลา /Songkhla</td>
              <td>093648917</td>
              <td>4/7/2021</td>
            </tr>
            <tr>
              <td>2</td>
              <td>นางสมศรี มีมั่ง</td>
              <td>ยางตลาด /Yang Talat</td>
              <td>กาฬสินธุ์ /Kalasin</td>
              <td>เมืองปัตตานี /Mueang Pattani</td>
              <td>ปัตตานี /Pattani</td>
              <td>0682444914</td>
              <td>4/7/2021</td>
            </tr>
            <tr>
              <td>3</td>
              <td>นายศุภชัย นางงาม</td>
              <td>สันกำแพง /San Kamphaeng</td>
              <td>เชียงใหม่ /Chiang Mai</td>
              <td>จะนะ /Chana</td>
              <td>สงขลา /Songkhla</td>
              <td>0819574334</td>
              <td>4/7/2021</td>
            </tr>
            <tr>
              <td>4</td>
              <td>นางสาวดวงใจ ดวงแก้ว</td>
              <td>เขตจตุจักร /Khet Chatuchak</td>
              <td>กรุงเทพมหานคร /Bangkok</td>
              <td>หาดใหญ่ /Hat Yai</td>
              <td>สงขลา /Songkhla</td>
              <td>03648913232</td>
              <td>4/7/2021</td>
            </tr>
            <tr>
              <td>5</td>
              <td>นายฐากร คงรัก</td>
              <td>เขตบางกะปิ /Khet Bang Kapi</td>
              <td>กรุงเทพมหานคร /Bangkok</td>
              <td>หาดใหญ่ /Hat Yai</td>
              <td>สงขลา /Songkhla</td>
              <td>0934348843</td>
              <td>4/7/2021</td>
            </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
      $("#myTable").DataTable();
  });

  // Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';

// Bar Chart Example
var ctx = document.getElementById("myBarChart");
var myLineChart = new Chart(ctx, {
type: 'bar',
data: {
labels: ["ม.ค. 2021", "ก.พ. 2021", "มี.ค. 2021", "เม.ย. 2021", "พ.ค. 2021", "มิ.ย. 2021"],
datasets: [{
label: "Revenue",
backgroundColor: "rgba(2,117,216,1)",
borderColor: "rgba(2,117,216,1)",
data: [10215, 15312, 9251, 7841, 6821, 14984],
}],
},
options: {
scales: {
xAxes: [{
  time: {
    unit: 'month'
  },
  gridLines: {
    display: false
  },
  ticks: {
    maxTicksLimit: 6
  }
}],
yAxes: [{
  ticks: {
    min: 0,
    max: 15000,
    maxTicksLimit: 5
  },
  gridLines: {
    display: true
  }
}],
},
legend: {
display: false
}
}
});


// 
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';

// Area Chart Example
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ["ม.ค. 2021", "ก.พ. 2021", "มี.ค. 2021", "เม.ย. 2021", "พ.ค. 2021", "มิ.ย. 2021"],
    datasets: [{
      label: "Sessions",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 50,
      pointBorderWidth: 2,
      data: [10000, 30162, 26263, 18394, 18287, 28682],
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 40000,
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});

</script>
{% endblock %}