{% extends 'layout.html' %}

{% block content %}
<style>

        #addForm {
          background-color: #ffffff;
          margin: 100px auto;
          font-family: Raleway;
          padding: 40px;
          width: 70%;
          min-width: 300px;
          font-family: 'Prompt', sans-serif;
        }
        
        h1 {
          text-align: center;  
        }
        
        input {
          padding: 10px;
          /* width: 100%; */
          font-size: 17px;
          font-family: Raleway;
          border: 1px solid #aaaaaa;
        }
        
        /* Mark input boxes that gets an error on validation: */
        input.invalid {
          background-color: #ffdddd;
        }
        
        /* Hide all steps by default: */
        .tab {
          display: none;
        }
        
        button {
          background-color: #ffbc04;
          color: #ffffff;
          border: none;
          padding: 10px 20px;
          font-size: 17px;
          font-family: Raleway;
          cursor: pointer;
        }
        
        button:hover {
          opacity: 0.8;
        }
        
        #prevBtn {
          background-color: #bbbbbb;
        }
        
        /* Make circles that indicate the steps of the form: */
        .step {
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbbbbb;
          border: none;  
          border-radius: 50%;
          display: inline-block;
          opacity: 0.5;
        }
        
        .step.active {
          opacity: 1;
        }
        
        /* Mark the steps that are finished and valid: */
        .step.finish {
          background-color: #1abc9c !important;
        }

        .button-b{
          background-color: #1abc9c 
        }
</style>
 
<div class="container scroll-con">
  <div class="form-group card p-3 card-cas">
    <div class="text-center">
      <b><h3>แบบฟอร์มเข้าจังหวัดสงขลา</h3>
      <p>Songkhla Arrivals Form</p></b><br>
    </div>

    <p><b>กรุณากรอกข้อมูล (Please fill out the form)</b></p>

    <form action="addForm" method="post">
        {% csrf_token %} 

        <div class="form-group col-md-12">
          <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                  เลขประจำตัวประชาชน / Citizen number
              </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option2" checked>
              <label class="form-check-label" for="exampleRadios1">
                  หนังสือเดินทาง/ Passport number
              </label>
          </div>
        
          ถ่ายภาพบัตรประจำตัวประชาชน / Citizen number
          <input type="file" accept="image/*;capture=camera" style="width: 100%;">
          
          เลขประจำตัวประชาชน / Citizen number 
          <p><input style="width: 100%;"  type="tel" placeholder="กรุณากรอกเลขประจำตัวประชาชน / Citizen number"  name="citizen" id="citizen" required></p>
          หนังสือเดินทาง/ Passport number
          <p><input  style="width: 100%;"  type="text"  placeholder="กรุณากรอกหนังสือเดินทาง/ Passport number"  name="passport" id="passport"></p>
          ชื่อ-นามสกุล / First name-Last name
          <p><input  style="width: 100%;" type="text"  placeholder="กรุณากรอกชื่อ-นามสกุล / First name-Last name"  name="name" id="name" required></p>
          เบอร์โทร / Phone number
          <p><input  style="width: 100%;" type="tel"  placeholder="กรุณากรอกเบอร์โทร / Phone number"   maxlength="10"  name="phone"   id="phone" required></p>
        </div>
        <br>
          
        <center>
        <div>
         <input type="button" value="ย้อนกลับ (Back)" class="btn btn-lg btn-outline-secondary" onclick="history.back()">
         <input type="submit" value="ถัดไป (Next)" class="btn  btn-lg btn-outline-info">
        </div>  
        </center>
    </form>
  </div>   
  <br>
</div>

{% endblock %}