
{% extends 'layout.html' %}
{% load static %}

{% block content %}


<div class="container scroll-con">
  <div class="form-group card p-3 card-cas">
    <div class="text-center">
      <h3>แบบฟอร์มเข้าจังหวัดสงขลา</h3>
      <p>Songkhla Arrivals Form</p><br> 
    </div>
    <div class="row ">
      <div class="col-sm-12">
        <center>

          <div class="d-grid gap-2">
            <a class="btn btn-outline-info  btn-lg" href="/createForm"  style="width: 50%;"><span>เดินทางโดยเครื่องบิน (Travel by plane)</span></a><br>
          </div>
          <br>
          <div class="d-grid gap-2">
            <a class="btn btn-outline-info  btn-lg" href="/createForm"  style="width: 50%;"><span>เดินทางโดยรถไฟ (Travel by train)</span></a><br>
          </div>
          <br>
          <div class="d-grid gap-2">
            <a class="btn btn-outline-info  btn-lg" href="/createForm"  style="width: 50%;"><span>เดินทางโดยรถส่วนตัว (Travel by private car)</span></a><br>
          </div>
          <br>
          <div class="d-grid gap-2">
            <a class="btn btn-outline-info  btn-lg" href="/createForm"  style="width: 50%;"><span>เดินทางโดยเรือ (Travel by boat)</span></a><br>
          </div>
        </center>
      </div>
    </div>
    <br>
  </div>

 
</div>

{% endblock %}

