{% extends 'layout.html' %}
{% load static %}


{% block content %}

<div class="container scroll-con">
  <div class="form-group card p-3 card-cas">
    <div class="text-center">
      <b><h3>แบบฟอร์มเข้าจังหวัดสงขลา</h3>
      <p>Songkhla Arrivals Form</p></b><br> 
    </div>
    <div class="row">
      <div class="col-md-12">
          <h5>สรุปข้อมูล:</h5>
          เลขบัตรประชาชน/ Citizen number :<br> 
          &nbsp;&nbsp;{{citizen}}<br>
          ชื่อ-นามสกุล / First name-Last name :<br> 
          &nbsp;&nbsp;{{name}}<br>
          เบอร์โทร / Phone number :<br>
          &nbsp;&nbsp; {{phone}}<br>
          <hr>
          <b>ประวัติการเดินทาง</b><br>
          เดินทางมาจาก (Travelling from)<br>
          ตำบล / Sub-District :<br>
          &nbsp;&nbsp; {{ province_from }}<br>
          อำเภอ / District :<br>
          &nbsp;&nbsp; {{districts_from  }}<br>
          จังหวัด / Province :<br> 
          &nbsp;&nbsp;{{subdistrict_from  }}<br>
          <hr>
          <b>กำลังเดินทางไป (Travelling to)</b><br>
          ตำบล / Sub-District :<br>
          &nbsp;&nbsp; {{ province_to }}<br>
          อำเภอ / District :<br>
          &nbsp;&nbsp; {{districts_to  }}<br>
          จังหวัด / Province :<br>
          &nbsp;&nbsp; {{ subdistrict_to }}<br>  
          <center>
            <div>
              <input type="button" value="ย้อนกลับ (Back)" class="btn btn-lg btn-outline-secondary" onclick="history.back()">
              <input type="button" value="ยืนยัน (Confirm)" class="btn  btn-lg btn-outline-info" onclick="window.location='/index'">
            </div>  
            </center>   
      </div>
    </div> 
  </div>
<br>
</div>




 
{% endblock %}