
{% extends 'layout.html' %}
{% load static %}

{% block content %}


<style>

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  /* width: 100%; */
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #ffbc04;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #ffbc04;
}
</style>

<div class="container scroll-con">
    <div class="form-group card p-3 card-cas">
        <div class="text-center">
        <h3>แบบฟอร์มเข้าจังหวัดสงขลา</h3>
        <p>Songkhla Arrivals Form</p><br> 
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5>สรุปข้อมูล:</h5>
                เลขบัตรประชาชน/ Citizen number :<br> {{citizen}}<br>
                ชื่อ-นามสกุล / First name-Last name :<br> {{fname}}<br>
                เบอร์โทร / Phone number :<br> {{phone}}<br>
                ประวัติการเดินทาง<br>
                เดินทางมาจาก (Travelling from)<br>
                ตำบล / Sub-District :<br> {{ province_from }}<br>
                อำเภอ / District :<br> {{districts_from  }}<br>
                จังหวัด / Province :<br> {{subdistrict_from  }}<br>
                กำลังเดินทางไป (Travelling to)<br>
                ตำบล / Sub-District :<br> {{ province_to }}<br>
                อำเภอ / District :<br> {{districts_to  }}<br>
                จังหวัด / Province :<br> {{ subdistrict_to }}<br>     
            </div>
            <input type="button" value="ย้อนกลับ (Back)" class="btn btn-primary" onclick="history.back()">
            <input type="button" value="ยืนยัน (Confirm)" class="btn btn-primary" onclick="window.location='/home'">
        </div>
</div>

<body>
 


{% endblock %}

